<%- include('../partials/header') %>
    
<h1>Node Array Diff Table</h1>
<p class="fs-5 col-md-8">Takes two arguments, flattens the objects and returns an HTML Table of the values.</p>

<%- include('../partials/footer') %>
