<%- include('../partials/header') %>
    
<h1>Node Array Diff Table</h1>
<p class="fs-5 col-md-8">Takes two arguments, flattens the objects and returns an HTML Table of the values.</p>

<div class="mb-5">
  <a href="diff-table" class="btn btn-primary btn-lg px-4">See Diff Table</a>
</div>

<%- include('../partials/footer') %>
